@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b2b2b;
}

header {
  padding: 20px 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.container {
  width: 1050px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header-logo {
  width: 243px;
  height: 32px;
}

.header-logo img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-item {
  display: flex;
  list-style: none;
  gap: 12px;
  align-items: center;
}

.hero-list {
  padding: 0px 20px;
}

.hero-link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
}

.hero-link.btn {
  display: inline-flex;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #a259ff;
}

.hero-list i {
  font-size: 20px;
}

.burger_menu {
  width: 24px;
  height: 24px;
  display: none;
}

/* hero content*/
.hero_contents {
  padding: 80px 195px;
}

.hero_contents .row {
  gap: 0px;
  align-items: flex-start;
}

.hero_content {
  width: 330px;
}

.hero_activ {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  padding: 80px 195px;
}

.hero_title {
  color: #fff;
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero_text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.countc_list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  list-style: none;
}


.btn_roce {
  margin-bottom: 30px;
}
.counts_item{
  align-self: stretch;
}
.counts_text {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}
.counts_span {
  color: #fff;
  font-size: 23.99px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  .burger_menu {
    display: inline-block;
  }

  header .container {
    width: 100%;
  }

  header {
    padding: 15px 50px;
  }

  .hero-item {
    display: none;
  }
}
