@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans';
}

body {
  background: #2b2b2b;
}

header {
  padding: 20px 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.container {
  width: 1050px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header-logo {
  width: 243px;
  height: 32px;
}

.header-logo img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-item {
  display: flex;
  list-style: none;
  gap: 12px;
  align-items: center;
}

.hero-list {
  padding: 0px 20px;
}

.hero-link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
}

.hero-link.btn {
  display: inline-flex;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #a259ff;
}

.hero-list i {
  font-size: 20px;
}

.burger_menu {
  width: 24px;
  height: 24px;
  display: none;
}

/* hero content*/
.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main_row {
  padding: 80px 0px;
  display: flex;
  width: 1050px;
  align-items: flex-start;
  gap: 30px;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}

.main_title {
  color: #fff;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  display: flex;
  width: 510px;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
}

.main_text {
  color: var(--White, #fff);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.main_btn {
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.main_item {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
  list-style: none;
}

.main_statistic {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}

.main_span {
  color: #fff;
  font-size: 23.99px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.main_photos {
  flex: 1 0 0;
  align-self: stretch;
}

.main_img {
  width: 510px;
  height: 400px;
  border-radius: 22px 22px 0px 0px;
  border: 1px solid #000;
  background: url(/images/placeholder.jpg), lightgray 50% / cover no-repeat;

}

.main_broc {
  padding: 20px;
  gap: 10px;
  border-radius: 0px 0px 20px 20px;
  background: #3B3B3B;
}

.main_desp_text {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.main_avatar {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.main_avatar img {
  width: 24px;
  height: 24px;
}

.main_avatar span {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/* galls css*/
.galls_content {
  display: flex;
  width: 1050px;
  align-items: flex-start;
  gap: 30px;
}

.galls_box1 {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.galls_desp {
  gap: 10px;
}

.galls_desp h3 {
  color: #FFF;
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;

}

.galls_desp p {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  flex: 1 0 0;
}

.galls_img img {
  border-radius: 20px;
  background: #2B2B2B;
}

.gallsbox_plas {
  display: flex;
  width: 330px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
}

.galls_item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  list-style: none;
}

.galls_list img {
  height: 100px;
  flex: 1 0 0;
}

.galls_info {
  color: #FFF;

  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.galls_box_avatar {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.galls_box_avatar span {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.content_boxes {
  display: flex;
  padding: 80px 195px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.creaters_contents {
  display: flex;
  width: 1050px;
  align-items: flex-end;
}

.crea_title {
  gap: 10px;
}

.crea_title h2 {
  color: var(--White, #FFF);
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}

.crea_title p {
  color: var(--White, #FFF);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.crea_btn {
  margin-left: 200px;
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid var(--Call-to-Action, #A259FF);
}

.crea_btn a {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.crea_btn i {
  color: #A259FF;
  font-size: 20px;
  margin-right: 10px;
}

.top_item {
  display: flex;
  width: 1050px;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.top_content {
  display: flex;
  justify-content: center;
}

.absolute {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #2B2B2B;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #858584;
  border-radius: 100%;
}

.top_list {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #3B3B3B;
  position: relative;
}

.top_list img {
  display: flex;
  width: 110px;
  align-items: flex-start;
  gap: 10px;
}

.top_titles {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.top_list-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.top_list-info p {
  color: var(--caption-label-text, #858584);
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.top_list-info span {
  color: var(--Text, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.crovse_content {
  padding: 80px 195px;
}
.brovse{
  display: flex;
}
.brovse_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  .burger_menu {
    display: inline-block;
  }

  .top_row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .top_item {
    display: flex;
    justify-content: center;
    width: 3%;
  }

  .main_row {
    display: block;
  }

  .content_boxes {
    display: flex;
    width: 690px;
    align-items: flex-end;
    gap: 100px;
  }

  .active {
    display: none;
  }

  header .container {
    width: 100%;
  }

  .main_row {
    width: 90%;
  }

  header {
    padding: 15px 50px;
  }

  .hero-item {
    display: none;
  }

  .box_2 {
    display: none;
  }

}

@media screen and (max-width: 750px) {
  header {
    padding: 15px 30px;
  }

  .btn {
    width: 90%;
    text-align: center;
  }

  .main_title {
    font-size: 38px;
    line-height: 120%;
  }


  .main_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  .box_3 {
    display: none;
  }

  .box_2 {
    display: none;
  }

  .main_row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
}